.oneForm
    .oneForm__wrap
        .grid.grid--container
                    h1.oneForm__header  Получите в подарок каталог из 100 готовых проектов
                    p с планировками и ценами 
                    form.oneForm__form
                        input(type="text" placeholder="Введите ваш телефон")
                        input(type="text" placeholder="Введите Ваш e-mail")
                        input(type="submit" value="Получить каталог")