+media-breakpoint-up(xs) {
    .reviews {    
        &__line-left{
                display:block;
                float:left;
                width:15%;
                
            }
        &__line-right{
                display:block;
                float:right;
                width:15%;
            }
        
        &__header{
            padding:40px 0;
            h2{text-align:center;
            color:#545352;
            font-weight:normal;
            font-size:28px;
            text-transform:uppercase;}
        }
         .link{
            width:150px;
            position: relative}
            .arrow{
                width: 0px;
                height: 0px;
                border: 7px solid transparent;
                border-top-color: #676A6C;
                margin: 0;
                right:45px;
                top:7px;
                position: absolute;
                padding: 0;
                
                }
            .arrow:before{
                content:'';
                width: 0px;
                height: 0px;
                border: 8px solid transparent;
                border-top-color: white;
                
                position: absolute;
                display: inline-block;
                -webkit-transform: translate(-8px, -11px);
            }
            
            
            .arrow.right{
                transform: rotate(270deg) translate(0px, 25px);
                -webkit-transform: rotate(270deg) translate(0px, 25px);
                -moz-transform: rotate(270deg) translate(0px, 25px);
                -o-transform: rotate(270deg) translate(0px, 25px);
                -ms-transform: rotate(270deg) translate(0px, 25px);
            }
            &__video{
                width:100%;
                text-align: center;
                
             }
            
            &__content{
                .text{
                    font-size:20px;
                    span:nth-child(1){
                        color:#CB711C;
                        font-size:16px;

                    }
                    span:nth-child(2){
                        color:#9595AA;
                        display:block;
                        margin-top:10px;
                        font-size:15px;
                    }
                
                }
                &_one,&_two{
                      padding-top:15px;
                }
                a{
                    color:#9595aa
                    text-decoration: none;
                    display: block;
                   
                }
                &_one,&_three,&_two{
                    margin-bottom:40px;
                }
                &_two{
                   background-color: #ebebeb;
                 
                   padding-left:20px;
                   padding-right:15px;
                a{
                    padding-bottom:15px;
                   
                }
                .arrow:before{
                    content:'';
                    width: 0px;
                    height: 0px;
                    border: 8px solid transparent;
                    border-top-color: #EBEBEB;
                    display: inline-block;
                    -webkit-transform: translate(-8px, -11px);
            }
                   
                }
               
                img{
                    border-radius: 50%;
                    
                }
                
            }
            .avatar{
                display: block;
                text-align: center;
            }
            .all-reviews{
                position: relative;
                text-align: center;
                clear:both;
                a{
                    padding:10px 20px;
                    border:3px solid #534f50;
                    position: relative;
                    text-align:center;
                    display:inline-block;
                    border-radius:5px;
                    text-transform: uppercase;
                    font-size:20px;
                  
                }
            }

    }
}