.projectsHome   
    .grid.grid--conteiner
        .row
            .col.col--lg-12
                .projects__title
                    h2 Проекты домов из SIP панелей 
                .projects__panel
                    a.sip(href="#")
                        img(src="images/sip1.png", alt="")
                        span Хиты продаж
                    a.sip(href="#")
                        img(src="images/sip2.png", alt="")
                        span Готовые проекты
                    a.sip(href="#")
                        img(src="images/sip3.png", alt="")
                        span до 100м2
                    a.sip(href="#")
                        img(src="images/sip4.png", alt="")
                        span до 150 м2
                    a.sip(href="#")
                        img(src="images/sip5.png", alt="")
                        span от 150 м2