.row 
    nav.navbar.navbar-expand-sm.navbar-light.bg-light
        .navbar_wrap
            a(href="#").navbar-brand  
                img#logo(src="img/logo-2.png")
            button(type="button" data-toggle="collapse" data-target="#navbar1" aria-controls="navbar1" aria-expanded="false" aria-label="Toggle navigation").navbar-toggler
                span.navbar-toggler-icon
        .collapse.navbar-collapse#navbar1
            ul.navbar-nav.mr-auto
                li.nav-item.active
                    a(href="#").nav-link О фабрике 
                      
                li.nav-item
                    a(href="#").nav-link       Курсы
                li.nav-item
                         a(href="#").nav-link      Сервис
                            ul.navbar-nav.mr-auto
                                li.nav-item
                                   a(href="#").nav-link   Доставка
                                li.nav-item
                                    a(href="#").nav-link   Легальность
                                li.nav-item
                                    a(href="#").nav-link   F.A.Q.
                li.nav-item
                    a(href="#").nav-link    Книга знаний 
                li.nav-item
                    a(href="#").nav-link   Новости 
                li.nav-item
                    a(href="#").nav-link   Контакты
                li.nav-item
                    p Бесплатный звонок по рф
                    a(href="#").h2.nav-link  8 800 100-88-48
                li.nav-item
                    a(href="#").h2.nav-link  Ваш город 
                        span Москва
                li.nav-item
                 
                    a(href="#").h2.nav-link  +7 (495) 374-58-88
                li.nav-item
                   
                    a(href="#").h2.nav-link  Перезвоните мне
                li.nav-item.social-button
                    a.social-button-vk(href="#").nav-link  
                    a.social-button-fb(href="#").nav-link  
                    a.social-button-tw(href="#").nav-link
                    a.social-button-you(href="#").nav-link  
                    a.social-button-insta(href="#").nav-link  
                    a.social-button-google(href="#").nav-link  
                
                
                  
                
                
                

                
                
                
                
   

              
              
                  