.reviews
    .grid.grid--container
       
        .reviews__header
                    div.reviews__line-left
                        hr
                    div.reviews__line-right
                        hr
                    h2  Отзывы клиентов
    .grid.grid--container
        .row
            .col--md-12.col--lg-12.col--xl-12.col--xs-12
                .reviews__video

                    .col--md-6.col--lg-6.col--xl-6
                        iframe(width="90%" height="315" src="https://www.youtube.com/embed/G13yh03UQQg?ecver=1" frameborder="0" allowfullscreen) 
                        p(style="text-align:center") Супруги Лааптевы
                    .col--md-6.col--lg-6.col--xl-6
                        iframe(width="90%" height="315" src="https://www.youtube.com/embed/U1w7SYsv5Dw?ecver=1" frameborder="0" allowfullscreen) 
                        p(style="text-align:center") Софья и Николай
    
    .reviews__content
        .grid.grid--container
            .reviews__content_one
                .avatar
                    img(src="images/rev_1.jpg")
                .text 
                    span  НАДЕЖДА С. <br>
                    span Кировская область, Слободской район, дом из SIP- панелей по проекту "Семейный 2.0", сдан - январь 2017г. <br>
                    p Мы строили дом по акции по проекту «Семейный 2.0». 
                    p В целом остались довольны. Конечно, вы - молодцы! Отзывы только положительные!  
                    p На этапе переговоров до заключения договора работу менеджера могу оценить на твердую четверку.    
                    p  Не на все вопросы по проекту она...   
                    .link
                        .arrow.right
                        a(href="#") читать далее
       
        .reviews__content_two
            .grid.grid--container
                .avatar
                    img(src="images/rev_2.jpg")
                .text  
                    span ОЛЕГ АНАТОЛЬЕВИЧ <br>
                    span Ш.Ханты-Манскийский автономный округ, пгт. Березово, поставка домокомплекта, март 2017 <br>
                    p Работу компании «Слобода – выгодный дом» я бы оценил на отлично с небольшим минусом. Надеюсь, что это не последнее наше сотрудничество. По всем отделам - отлично! Просто не знаю, что такое плохо относительно вашей компании, сотрудники всегда вежливы, всегда выслушают. Единственное...
                    .link
                        .arrow.right
                        a(href="#") читать далее
        .grid.grid--container
            .reviews__content_three
                .avatar
                    img(src="images/rev_3.jpg")
                .text  
                    span ОЛЕГ АНАТОЛЬЕВИЧ <br>
                    span г. Нарьян-Мар, Дом из СИП-панелей площадью 167,7 кв.м. сдан 18.09.2016г.<br>
                    p Хочу написать Вам нашу историю стройки дома. 
                    p Еще в 2014 году мы обратились в компанию «Слобода-выгодный дом» для подбора проекта. Было приятно работать с проектировщиками. Четко, ясно, понятно. Проект был составлен со всеми нашими пожеланиями, учтены все замечания. Но, увы...
                    .link
                        .arrow.right
                        a(href="#") читать далее 
            p.all-reviews    
                a(href="#") Перейти ко всем отзывам