.menu
    .grid.grid--container
        ul.block--menu
            li.menu__list.project 
                a(href="#") Проекты домов 
                ul.project__list.menu-drop
                               li
                                 a(href="#") Все проекты         
                               li   
                                 a(href="#") До 100 м2     
                               li
                                  a(href="#") До 150 м2      
                               li
                                a(href="#") до 200 м2     
                               li   
                                 a(href="#") от 200 м2     
                               li   
                                 a(href="#") хиты продаж      
                               li 
                                 a(href="#") готовые 
            li.menu__list.object  
                a(href="#") Построенные обьекты 
                ul.object__list.menu-drop
                           li   
                             a(href="#")   Обьекты в работе 
                           li
                             a(href="#")   Сданные обьекты     
                           li
                             a(href="#")   Процесс строительства 
                           li
                             a(href="#")   Пакет услуг "Дом без ошибок"
                           li
                             a(href="#")   Порядок оплаты 
            li
                a(href="#") Продажа SIP панелей 
            li
                a(href="#") Ремонт и отделка 
            li
                a(href="#") Контакты 