body{
height:100%;
background:#49B1F8;
  padding:0;
  margin:0;
}
p,form{
display:block;
margin:0 auto;}
input.text{
  width:  200px;
    height: 45px;
    padding: 5px 10px 5px 10px;
    border-radius:15px ;
  }
p{
  font-family:Arial,sans-serif;
  font-size:30px;
  color:#ffffff;
}
input.button{

background:#FFD303;
}

