body{
height:100%;
background:#49B1F8;
  padding:0;
  margin:0;
}
input.text,input.button{
  position:relative;
  left:30%;
  text-align:center;
}
p{
  margin-top:20px;
   position:relative;
  left:25%;}
input.text{
  width:  200px;
    height: 45px;
    padding: 5px 10px 5px 10px;
    border-radius:8px ;
  }
p{
  font-family:Arial,sans-serif;
  font-size:30px;
  color:#ffffff;
}
input.button{
 border-radius:8px ;
background:#FFD303;
  color:#fff;
  font-size:10px;
}

