.objects
    .grid.grid--container
        .objects__header
            .line-left
                hr
            .line-right
                hr
            h2 Сейчас
                span  17 
                |обьектов в работе
        .objects__slider
                .objects__slider_slide
                    a(href="#")
                        img(src="images/slide1.jpg", alt="")
                        span СТРОИТЕЛЬСТВО ОДНОЭТАЖНОГО С МАНСАРДНЫМ ЭТАЖОМ ЖИЛОГО ДОМА ИЗ СИП-ПАНЕЛЕЙ, ОБЩЕЙ ПЛОЩАДЬЮ 152 КВ.М., В КИРОВСКОЙ ОБЛАСТИ, СЛОБОДСКОЙ РАЙОН
                .objects__slider_slide
                    a(href="#")
                        img(src="images/slide2.jpg", alt="")
                        span СТРОИТЕЛЬСТВО ОДНОЭТАЖНОГО С МАНСАРДНЫМ ЭТАЖОМ ЖИЛОГО ДОМА ИЗ СИП-ПАНЕЛЕЙ, ОБЩЕЙ ПЛОЩАДЬЮ 109,25 КВ.М., В ЯМАЛО-НЕНЕЦКОМ АВТОНОМНОМ ОКРУГЕ, С. ТЕЛЬВИСКА
                .objects__slider_slide
                    a(href="#")
                        img(src="images/slide1.jpg", alt="")
                        span СТРОИТЕЛЬСТВО ОДНОЭТАЖНОГО С МАНСАРДНЫМ ЭТАЖОМ ЖИЛОГО ДОМА ИЗ СИП-ПАНЕЛЕЙ ПЛОЩАДЬЮ 163,5 КВ.М., НЕНЕЦКИЙ АО, Г. НАРЬЯН-МАР
                .objects__slider_slide
                    a(href="#")
                        img(src="images/slide3.jpg", alt="")
                        span СТРОИТЕЛЬСТВО ДВУХЭТАЖНОГО ЖИЛОГО ДОМА ИЗ СИП-ПАНЕЛЕЙ ОБЩЕЙ ПЛОЩАДЬЮ 147,90 КВ.М. В ЯМАЛО-НЕНЕЦКОМ АВТОНОМНОМ ОКРУГЕ, Г. ЛАБЫТНАНГИ
                .objects__slider_slide
                    a(href="#")
                        img(src="images/slide1.jpg", alt="")
                        span ПОСТАВКА ДОМОКОМПЛЕКТА ПО СБОРКЕ ОДНОЭТАЖНОГО ЖИЛОГО ДОМА, ОБЩЕЙ РАСЧЕТНОЙ ПЛОЩАДЬЮ 72 КВ.М., Г. КИРОВ
                .objects__slider_slide
                    a(href="#")
                        img(src="images/slide1.jpg", alt="")
                        span СТРОИТЕЛЬСТВО ОДНОЭТАЖНОГО С МАНСАРДНЫМ ЭТАЖОМ ЖИЛОГО ДОМА ИЗ СИП-ПАНЕЛЕЙ ПЛОЩАДЬЮ 167,89 КВ.М., ХАНТЫ-МАНСИЙСКИЙ АО, Г. ПЫТЬ-ЯХ
                .objects__slider_slide
                    a(href="#")
                        img(src="images/slide4.jpg", alt="")
                        span ПОСТАВКА ТЕХНИЧЕСКОЙ ДОКУМЕНТАЦИИ ДЛЯ СТРОИТЕЛЬСТВА ОДНОЭТАЖНОГО ЖИЛОГО ДОМА РАСЧЕТНОЙ ПЛОЩАДЬЮ 80 КВ.М. ИЗ СИП-ПАНЕЛЕЙ
                .objects__slider_slide
                    a(href="#")
                        img(src="images/slide5.jpg", alt="")
                        span ПОСТАВКА ТЕХНИЧЕСКОЙ ДОКУМЕНТАЦИИ ДЛЯ СТРОИТЕЛЬСТВА ОДНОЭТАЖНОГО СЖИЛОГО ДОМА РАСЧЕТНОЙ ПЛОЩАДЬЮ 158,35 КВ.М. ИЗ СИП-ПАНЕЛЕЙ
                .objects__slider_slide
                    a(href="#")
                        img(src="images/slide6.jpg", alt="")
                        span СТРОИТЕЛЬСТВО ДВУХЭТАЖНОГО ЖИЛОГО ДОМА ИЗ СИП-ПАНЕЛЕЙ ОБЩЕЙ ПЛОЩАДЬЮ 172,3 КВ.М. В ЯМАЛО-НЕНЕЦКОМ АВТОНОМНОМ ОКРУГЕ, Г. ЛАБЫТНАНГИ
                .objects__slider_slide
                    a(href="#")
                        img(src="images/slide1.jpg", alt="")
                        span ПОСТАВКА ДОМОКОМПЛЕКТА ПО СБОРКЕ ОДНОЭТАЖНОГО С МАНСАРДНЫМ ЭТАЖОМ ЖИЛОГО ДОМА, ОБЩЕЙ РАСЧЕТНОЙ ПЛОЩАДЬЮ 96 КВ.М., ЛЕНИНГРАДСКАЯ ОБЛАСТЬ
                .objects__slider_slide
                    a(href="#")
                        img(src="images/slide7.jpg", alt="")
                        span СТРОИТЕЛЬСТВО ОДНОЭТАЖНОГО ЖИЛОГО ДОМА ПЛОЩАДЬЮ 130,95 КВ.М.,КИРОВСКАЯ ОБЛАСТЬ, Р-Н СЛОБОДСКОЙ, Д. ВЕРХНИЕ КРОПАЧИ
                .objects__slider_slide
                    a(href="#")
                        img(src="images/slide8.jpg", alt="")
                        span СТРОИТЕЛЬСТВО ОДНОЭТАЖНОГО С МАНСАРДНЫМ ЭТАЖОМ ЖИЛОГО ДОМА ИЗ СИП-ПАНЕЛЕЙ, ОБЩЕЙ ПЛОЩАДЬЮ 99,92 КВ.М., В ЯМАЛО-НЕНЕЦКОМ АВТОНОМНОМ ОКРУГЕ, ШУРЫШКАРСКИЙ РАЙОН, С. МУЖИ
                .objects__slider_slide
                    a(href="#")
                        img(src="images/slide9.png", alt="")
                        span СТРОИТЕЛЬСТВО ДВУХЭТАЖНОГО ЖИЛОГО ДОМА ИЗ СИП-ПАНЕЛЕЙ ОБЩЕЙ ПЛОЩАДЬЮ 222 КВ.М., Г. САЛЕХАРД, ЯМАЛО-НЕНЕЦКИЙ АВТОНОМНЫЙ ОКРУГ
                .objects__slider_slide
                    a(href="#")
                        img(src="images/slide1.jpg", alt="")
                        span СТРОИТЕЛЬСТВО ОДНОЭТАЖНОГО С МАНСАРДНЫМ ЭТАЖОМ ОДНОКВАРТИРНОГО ЖИЛОГО ДОМА ПЛОЩАДЬЮ ОРИЕНТИРОВОЧНО 147 КВ.М. В ГОРОДЕ МЕГИОН, ХАНТЫ-МАНСИЙСКОГО АВТОНОМНОГО ОКРУГА - ЮГРА
                .objects__slider_slide
                    a(href="#")
                        img(src="images/slide10.jpg", alt="")
                        span ПРОЕКТИРОВАНИЕ И СТРОИТЕЛЬСТВО "ПОД КЛЮЧ" ДОМА ПЛОЩАДЬЮ 72 КВ.М. В Д. ЯМНОЕ КИРОВСКОЙ ОБЛАСТИ
                .objects__slider_slide
                    a(href="#")
                        img(src="images/slide11.jpg", alt="")
                        span СТРОИТЕЛЬСТВО ДВУХЭТАЖНОГО ЖИЛОГО ДОМА ИЗ СИП-ПАНЕЛЕЙ ПЛОЩАДЬЮ 175 КВ.М. В П. ТАЗОВСКИЙ ЯНАО
                .objects__slider_slide
                    a(href="#")
                        img(src="images/slide1.jpg", alt="")
                        span ПОСТАВКА ДОМОКОМПЛЕКТА ИЗ СИП-ПАНЕЛЕЙ ДЛЯ ОБЩЕСТВЕННОГО ЗДАНИЯ, ОБЩЕЙ ПЛОЩАДЬЮ 154,28 КВ.М., ЯНАО, ЯМАЛЬСКИЙ Р-Н, ПУНКТ НОВЫЙ ПОРТ.
        .objects__button
            a(href="#") Перейти ко всем обьектам в работе 

