.header
    .header__mobile-container
            .menu__button
                span
                span
                span    
            .logo
                        img(src="images/logo.png")    
            .header__phone
                        img(src="images/header-phone.png")
    .header__mobile
                    ul 
                        li.menuparent
                            a Проекты домов
                            ul
                                li 
                                     a Все проекты 
                                li 
                                     a до 100м2     
                                li 
                                    a до 150 м2 
                                li 
                                    a до 200 м2 
                                li 
                                    a от 200 м2
                                li 
                                    a Хиты продаж 
                                li 
                                    a готовые     
                        li.menuparent 
                            a Построенные обьекты 
                            ul
                                li 
                                    a Обьекты в работе 
                                li 
                                    a Сданные обьекты 
                                li 
                                    a Процесс строительства 
                                li 
                                    a Пакет услуг "Дом без ошибок"
                                li 
                                    a Порядок оплаты
                        li.menuparent
                            a Продажа SIP панелей 
                        li.menuparent 
                            a Ремонт и отделка 
                        li.menuparent 
                            a Контакты             
    .header__background
        .grid.grid--container
            .row
                .col.col--xl-8.col--lg-7.col--md-12.header__menu 
                    .col--xl-11.menu-wrap
                        a(href="#") О нас 
                        a(href="#") Акции  
                        a(href="#") Новости 
                        a(href="#") Статьи 
                        a(href="#") Ответы на вопросы 
                        a(href="#") Вакансии
                        a(href="#") Презентация о нас  
                .col--xl-4.col--lg-5.col--md-12.references__contact
                    .contact-wrap
                        span Дружите с нами:
                        a(href="#")
                            img(src="images/vk.jpg")
                        a(href="#")
                            img(src="images/fb.jpg")
                        a(href="#")
                            img(src="images/ok.jpg")    
                        a(href="#")
                            img(src="images/inst.jpg")    
                        a(href="#")
                            img(src="images/youtube.jpg")    
    .grid.grid--container
            .header-logo                
                .logo
                    img(src="images/logo.png")     
                .counts
                    .count-1
                        span 350 
                        span обьектов <br> потсроено 
                    .count-2
                        span 11
                        span лет строим дома  <br> из SIP панелей
                .telephone
                    span Пн-Пт с 09:00 до 20:00<br>
                    span +7 (800) 222-51-44
