+media-breakpoint-up(sm) {

.projectsHome{
      height:920px;
    .sip{
        display: flex;
        flex-direction: column;
       
        img{
             
            height:auto;
        }
        
        &:nth-child(1){
            position: relative;
            top:20px;
            span{
                top:10px;
            }
        }
        span{
            position: relative;
            top:30px;
            color:#393185;
            font-size:20px;
            text-align: center;
            &:hover{
                color:#AC0007;
            }
        }
    }
     .projects__panel{
        display:flex;
        flex-wrap:wrap;
        justify-content: space-between;
        align-items: center;
        text-align:center;
        width:90%;
        height:700px;
        margin:0 auto;
        
        a{
            text-decoration: underline;
            color: #cccbde;
            
            width:38%;
            &:hover span,&:hover  {
                    color:#AC0007;}
            
            
            
        }

    }
     .projects__title{
         margin-top:68px;
         margin-bottom:60px;
        h2{
            text-align: center;
            font-size:30px;}
    }
}
}