+media-breakpoint-up(lg) {
    .objects{
        margin-top:50px;
        .slick-arrow{
            top:-70px;
          
        }
        .slick-prev{
              left:260px;
            &:before{
                background: url(objects-arrow.png) no-repeat center;
            }
        }
        .slick-next{
            right:260px;
            &:before{

                background: url(objects-arrow.png) no-repeat center;
                transform:rotate(180deg);
            }
        }
           .line-left{
                display:block;
                float:left;
                width:28%;
                
            }
            .line-right{
                display:block;
                float:right;
                width:28%;
            }
             &__header{
                 h2{
                     text-transform: uppercase;
                     color:#545352;
                     text-align: center;
                     font-size:20px;
                     font-weight:normal;
                     margin-bottom:30px;
                     span{
                         color:#C1771F;
                     }
                 }
             }
       
            &__slider{
                text-align: center;
                &_slide{
                    margin: 0 auto;
                     display: block;
                    img{
                        margin-bottom:30px;
                        display:block;
                     
                       
                    }

                }
                
                }
                &__button{
                    margin-top:30px;
                    width:100%;
                    height:100%;
                    display: flex;
                    align-items: center;
                    justify-content: center; 
                    a{
                        text-align: center;
                        margin:0 auto;
                        
                        display:inline-block;
                        padding:15px;
                        border:3px solid #4E4D4D;
                        border-radius:5px;
                        text-transform: uppercase;
                        text-decoration: none;
                        color:#4E4D4D;
                    }
                  
                
                }
    }

}