.firstScreen
    .firstScreen__wrap
        .grid.grid--container
                .row
                    .col.col--xl-7.col--lg-6
                        .firstScreen__text
                            .firstScreen__title
                                h1 Проектирование и строительство домов из SIP панелей "под ключ" по всей России
                            .firstScreen__icons
                                .icons__group_1
                                    .firstScreen__icon
                                        span Собственное производство SIP панелей
                                    .firstScreen__icon
                                        span 5 лет гарантии качества
                                .icons__group_2
                                    .firstScreen__icon
                                        span Стоимость отопления<br> дома 100м2 всего 2500 руб/мес вместе с водонагревателем
                                    
                                    .firstScreen__icon
                                        span Проверка обьекта  тепловизором чтобы исключить потери тепла
                    .col.col--xl-5.col--lg-6          
                        .firstScreen__form             
                            .firstScreen__form_title
                                span  Закажите бесплатный расчёт сметы <b>в трёх вариантах от "эконом" до "премиум"</b>
                            form
                                    input(type="text" placeholder="Ваше имя")
                                    input(type="text" placeholder="Номер вашего телефона ")
                                    input(type="button" value="Получить расчёт сметы")     
                            .under-form__text
                                span  Ваши данные не будут переданы третьим лицам        